.Recoil {
  flex: 50%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.Recoil > button {
  display: none;
}

.Pixel {
  width: 10px;
  height: 10px;
  border: 0;
  background-color: red;
}

.PixelsBox {
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px;
  height: fit-content;
}
