.Control {
  display: flex;
  flex-wrap: wrap;
  flex: 100%;
  justify-content: center;
}

.Amount {
  margin: auto;
}

.Row {
  padding: 10px;
  flex: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgrey;
  align-items: center;
}

.Input {
  flex-direction: column;
  display: flex;
}

.Input > label {
  display: block;
  margin-bottom: 5px;
}

.Document {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.Document > textarea {
  margin-bottom: 5px;
}
